.Container{
                      display: flex;
                      flex-direction: column;
    height: 85px;
    

                  }


.BoxNav{
                 width: 100%;
                 height: 85px;
                 background-color: rgba(162, 250, 163, 0.9);
                 flex-direction: column;
                 display: flex;
                 position: fixed;
                 top: 0;
                    left: 0;
                z-index: 1100;
             }


.EllipseStack{
                         width: 55px;
                         height: 55px;
                         margin-top: 10px;
                         align-content: start;
                         position: absolute;
                     }
.AppName{
                            width: 200px;
                            height: 50px;
                            margin-top: 17px;
                            margin-right: 17px;
                            position: absolute;
    right: 0;
    font-family: cursive;
    font-style: italic;
    font-weight: bolder;
    font-size: 27px;
    line-height: 50px;
    color: #0470a6;
    text-align: center;
                        }

body{
    margin-top: 85px!important;
    padding-top: 20px;
    background-color: white!important;
}
