.css-b6lsxj-MuiButtonBase-root-MuiCardActionArea-root{
    background-color: white!important;
    border: 1px solid black!important;
    margin-bottom: 10px!important;
}
.css-mp8f2s-MuiPaper-root-MuiCard-root{
    background-color: white!important;
    border: none!important;
}

.link-to-trip{
    text-decoration: none!important;
    color: black!important;
}